<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add connectionString="Server=localhost;Database=track;Uid=root;Pwd=123456789;"
         name="defaultConnection"
         providerName ="MySql.Data"/>
  </connectionStrings>
</configuration>